BASE_URL=""
API_URL=""

MONGO_URL=""
DB_NAME=""
PORT=""

ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""

MICROSOFT_GRAPH_CLIENT_ID=""
MICROSOFT_GRAPH_CLIENT_SECRET=""
MICROSOFT_GRAPH_TENANT_ID=""

SALT_SECRET_KEY=""

SECURITY_KEY=""
