version: "3.3"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - college_cupid_images:/usr/src/app/images
      - college_cupid_voices:/usr/src/app/uploads/voice
    ports:
      - "8069:3000"
    env_file:
      - .env
    networks:
      - one-stop-2021_default
    restart: always

volumes:
  college_cupid_images:
  college_cupid_voices:

networks:
  one-stop-2021_default:
    external: true
