version: '3.3'
services:
  college_cupid_dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - college_cupid_images_dev:/usr/src/app/images
      - college_cupid_voices_dev:/usr/src/app/uploads/voice
    ports:
      - '8068:3000'
    env_file:
      - .env.dev
    networks:
      - one-stop-2021_default
    restart: always

volumes:
  college_cupid_images_dev:
  college_cupid_voices_dev:

networks:
  one-stop-2021_default:
    external: true
